@import 'https://fonts.googleapis.com/css?family=Catamaran:300,400,500,600,700';
  body {
    font-family: 'Catamaran', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(assets/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
    display: flex;
  }
  p {
    font-weight: 200;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  a:visited {
    color: inherit;
  }
  nav {
    padding: 0px;
    margin-left: 15px;
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.25);
  }
  nav .nav-link {
    display: inline-block;
    font-size: 1.3em;
    color: white;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 1px;
    padding: 10px 0px;
    margin-right: 15px;
    margin-bottom: -1px;
  }
  nav .nav-link.active {
    border-bottom: 1px solid white;
  }
  nav .nav-link:first-child {
    padding-left: 0;
  }
  .side-nav {
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 78px;
    box-sizing: border-box;
    height: 100%;
    border-right: 1px solid;
    border-color: rgba(255, 255, 255, 0.25);
  }
  .side-nav i {
    padding: 10px 0;
    transition: all .3s ease;
    cursor: pointer;
  }
  .side-nav i:hover {
    color: rgba(255, 255, 255, 1);
  }
  .side-nav-bottom {
    position: absolute;
    bottom: 0;
  }
  .container {
    padding: 0 10px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .card {
    width: 25%;
    box-sizing: border-box;
  }
  .card.small {
    width: 12.5%;
  }
  @media(max-width: 1341px){
    .card {
      width: 50%;
    }
    .card.small {
      width: 25%;
    }
  }
  @media(max-width: 600px){
    .card {
      width: 100%;
    }
    .card.small {
      width: 100%;
    }
  }
  .card .card-container {
    border: 5px solid;
    border-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .card .card-img {
    overflow: hidden;
    height: 185px;
  }
  .card img {
    display: block;
    width: 100%;
    z-index: 1;
    transition: all 0.5s ease;
  }
  .card.small img {
    height: 100%;
    width: auto;
    min-width: 100%;
    position: relative;
    right: 50px;
  }
  .card .card-content {
    position: relative;
    min-height: 200px;
    padding: 10px 20px;
    padding-bottom: 42px;
    background-color: rgba(0, 0, 0, 0.42);
    color: white;
    z-index: 5;
    transition: all 0.5s ease;
  }
  .card:hover .card-content {
    background-color: white;
    color: black;
  }
  .card:hover img {
    transform: scale(1.1);
  }
  .card .card-content span {
    font-size: 1.7em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .card .card-content p {
    margin-top: 10px;
  }
  .card:hover .card-action {
    opacity: 1;
    bottom: 0;
    border-color: rgba(0, 0, 0, 0.25);
  }
  .card .card-action {
    /*opacity: 0;*/
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid;
    border-color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    padding: 7px;
    box-sizing: border-box;
    font-weight: 500;
    transition: opacity bottom 0.5s;
  }
  .card .card-action.hidden-action {
    bottom: -43px;
    transition: bottom 0.5s ease;
    border-color: rgba(0, 0, 0, 0.0);
  }
  .card:hover .card-action.hidden-action {
    bottom: 0;
    border-color: rgba(0, 0, 0, 0.25);
  }
