<form class="col s12">
  <div class="row">
    <label for="first_name">First Name</label>
    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
    <label for="first_name">First Name</label>
    <input id="last_name" type="text" class="validate">
  </div>
  <div class="row">
    <label for="disabled">Disabled</label>
    <input disabled value="I am not editable" id="disabled" type="text" class="validate">
  </div>
  <div class="row">
    <label for="password">Password</label>
    <input id="password" type="password" class="validate">
  </div>
  <div class="row">
    <label for="email">Email</label>
    <input id="email" type="email" class="validate">
  </div>
</form>
