<form action="#">
  <p>
    <input name="radio-group" type="radio" id="radio1" />
    <label for="radio1">Mosin Nagant</label>
  </p>
  <p>
    <input name="radio-group" type="radio" id="radio2" />
    <label for="radio2">Lee Enfield</label>
  </p>
  <p>
    <input name="radio-group" type="radio" id="radio3"  />
    <label for="radio3">Springfield</label>
  </p>
    <p>
      <input name="radio-group" type="radio" id="radio4" disabled="disabled" />
      <label for="radio4">Maxim</label>
  </p>
</form>
