<table class="highlight">
  <thead>
    <tr>
        <th data-field="id">Name</th>
        <th data-field="name">Weapon Name</th>
        <th data-field="price">War bonds</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>D. Edwards</td>
      <td>Mauser C96</td>
      <td>1.200</td>
    </tr>
    <tr>
      <td>T.E. Lawrence</td>
      <td>Lee Enfield SMLE</td>
      <td>2.000</td>
    </tr>
    <tr>
      <td>M. von Richthofen</td>
      <td>Fokker</td>
      <td>5.200</td>
    </tr>
  </tbody>
</table>
